{%extends 'all/base.html'%}
{%load static%}
{%block content%}
<link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Piedra&display=swap" rel="stylesheet">
<style>
    .main {
        height: 80vh;
        background-image: url('https://www.scholastic.com/content/dam/teachers/lesson-plans/2016-2017/ingredients-mystery-lesson-plan-4-3.jpg');
        -webkit-clip-path: polygon(0 0, 0% 0, 100% 57%, 0% 90%);
        clip-path: polygon(0 0, 100% 0, 100% 57%, 0% 90%);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        justify-content: center;
        text-align: center;
        padding-top: 8rem;



    }

    .fic {
        font-size: 18rem;
        font-family: 'Piedra', cursive;
        color: rgba(236, 178, 18, 0.979);

    }

    .description {
        text-align: center;
        padding: 2rem
    }

    .row {
        padding: 6rem;
        background-color: #b8c6db;
        background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0% 20%);
        clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0% 20%);
        background-attachment: fixed;
    }

    .card {
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        color: white;
        transition-duration: .3s;
        transition-property: transform;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transform: translateZ(0);
        box-shadow: 0 2px 4px black;
        transition: box-shadow .3s ease-in-out;

    }

    .card:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 25px black;
    }

    

    .details {
        padding-top: 1rem;
        font-family: 'Fjalla One', sans-serif;
        font-size: 30px;
        color: white;
        background-color: black;


    }

    .col-md-4 {
        padding: 2rem;
    }

    .button {
        display: inline-flex;
        height: 40px;

        border: 2px solid #BFC0C0;
        margin: 0 auto;
        color: #BFC0C0;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 50%;

    }

    a {
        color: black;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .button-5 {

        position: relative;

        overflow: hidden;

        cursor: pointer;

        transition: all .5s ease-Out;

    }

    .button-5 a {

        position: relative;

        transition: all .45s ease-Out;
        /* Helps in making the object fade away */

    }

    /* object that coming on top of the words its a div */

    .translate {

        transform: rotate(50deg);

        width: 100%;

        height: 250%;

        left: -200px;

        top: -30px;

        background: white;

        position: absolute;

        transition: all .5s ease-Out;

    }

    .button-5:hover {

        background-color: whitesmoke;
        color: black;

        transform: translateY(-7px);
        /* its like padding bottom */

        transition: all .8s ease-Out;

    }

    .button-5:hover #translate {

        left: 0;

    }

    .button-5:hover a {

        color: black;

    }

    #button {
        margin: 0 auto;
        padding-left: 8rem;
        font-size: 20px !important;

    }
</style>

<body>
    <div class="main">
        <h1 class="fic">{{category.name}}</h1>
    </div>

    <div class="container">
        <div class="description">
            {%if category.name == 'Fiction' %}
            <p>
                These are books that suggest a story that is without basis in reality. Fiction suggests a story invented
                and
                fashioned either to entertain or to deceive: clever fiction; pure fiction. Fabrication applies
                particularly to
                a false but carefully invented statement or series of statements, in which some truth is sometimes
                interwoven.
            </p>
            {%elif category.name == 'Science' %}
            <p>
                Usually these books are written for a wide audience presumed to have a general education rather than a
                specifically scientific training, as opposed to the very narrow audience that a scientific paper would
                have,
                and are therefore referred to as popular science.
            </p>
            {%elif category.name == 'Research'%}
            <p>
                These are books written in order to prove or disprove a hypothesis, answer a specific question,
                investigation or experimentation aimed at the discovery and
                interpretation of facts, revision of accepted theories or laws in the light of new facts, or practical
                application of such new or revised theories or laws.
            </p>
            {%elif category.name == 'Thriller'%}
            <p>
                Thriller novels have villains, suspense, and action in settings such as espionage, medicine, crime,
                politics, and high tech.
                They often involve life and death situations and have high stakes, like the control of the world or the
                possibility of widespread death or destruction.
                Many times innocent people are victimized, stalked, or caught in situations that are beyond their
                control.
                Characters have to overcome obstacles, either alone or with a small group of people, and stop some
                catastrophe from happening.
                Thrillers usually have a happy ending.
            </p>
            {%endif%}
        </div>
    </div>

    <div class="row">
        {% for book in books %}
        <div class="col-md-4">
            <div class="card">
                <!-- <h2 class="text-center">{{book.name}}</h2> -->

                <img src="{{book.pic.url}}" alt="" height="350px">
                <div class="details">
                    <p class="text-center" style="margin-bottom: 3rem;"><b>{{book.name}}</b></p>

                    <div id="button">

                        <a href="/view/book/{{book.id}}" class="button button-5 "
                            style="width: 50%;color: turquoise;">Get
                            book</a>
                    </div>

                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}